@import "@/scss/_variables.scss";

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: $font-family;
  font-size: $font-size;
  color: $text-color;
}

//BUTTONS
.is-primary {
  background-color: $primary;
  color: $white;
  box-shadow: 0 3px 0 $primary-dark;
  border: 0;
}

.is-secondary {
  background-color: $white;
  color: $primary;
  box-shadow: 0 3px 0 $primary-dark;
  border: 1px solid $primary-dark;
}
