@import "@/scss/_variables.scss";

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: $font-family;
  font-size: $font-size;
  color: $text-color;
}

a {
  text-decoration: none;
}

//BUTTONS
.is-primary {
  background-color: $primary;
  color: $white;
  box-shadow: 0 3px 0 $primary-dark;
  border: 0;
}

.is-secondary {
  background-color: $white;
  color: $primary;
  box-shadow: 0 3px 0 $primary-dark;
  border: 1px solid $primary-dark;
}

//FORM
.form-group {
  margin: 1rem 0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $text-color;
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $text-color;
  opacity: 0.5; /* Firefox */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $text-color;
  opacity: 0.5; /* Firefox */
}

//GENERAL
.container {
  padding: 20px;
}
//ipad
@media screen and (min-width: 768px) and (max-width: 1024px) {
}

//responsive
@media screen and (min-width: 376px) {
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .container {
    padding: 40px;
  }
}
@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}
